body{
    font-family: Arial, Helvetica, sans-serif;
    background: #2c3e50;
    color: rgba(255, 255, 255, 0.816);
}
nav{
    position: relative;
    margin: 10px auto 0;
    width: 1440px;
    height: 50px;
    background: #34495e;
    border-radius: 7px;
    font-size: 0px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: #169579;
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav a:nth-child(1){
    width: 180px;
}

nav .start-home, a:nth-child(1):hover~.animation{
    width: 180px;
    left: 0;
}
nav a:nth-child(2){
    width: 180px;
}
nav a:nth-child(2):hover~.animation{
    width: 180px;
    left: 180px;
}
nav a:nth-child(3){
    width: 180px;
}

nav a:nth-child(3):hover~.animation{
    width: 180px;
    left: 360px;
}
nav a:nth-child(4){
    width: 180px;
}

nav a:nth-child(4):hover~.animation{
    width: 180px;
    left: 540px;
}
nav a:nth-child(5){
    width: 180px;
}

nav a:nth-child(5):hover~.animation{
    width: 180px;
    left: 720px;
}

nav a:nth-child(6){
    width: 180px;
}

nav a:nth-child(6):hover~.animation{
    width: 180px;
    left: 900px;
}
nav a:nth-child(7){
    width: 180px;
}

nav a:nth-child(7):hover~.animation{
    width: 180px;
    left: 1080px;
}
nav a:nth-child(8){
    width: 180px;
}

nav a:nth-child(8):hover~.animation{
    width: 180px;
    left: 1260px;
}

#map{
    width: 500px;
    height: 500px;
    margin: 50px;
}

#map2{
    width: 500px;
    height: 500px;
    margin: 50px;
}
#map3{
    width: 500px;
    height: 500px;
    margin: 50px;
}