h2{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    background-size: 14px;
}